#exclude all
*

#allow directories
!*/

#exclude build folders
bin
debug
obj
Build
cmake-build-release
cmake-build-debug

#allow c# files
!*.cs
!*.csproj
!*.sln

#allow c++ files
!*.cpp
!*.hpp
!CMakeLists.txt

#allow c files
!*.c
!*.h
!Makefile

#allow the readme and gitignore
!*.md
!.gitignore

#allow PowerShell
!*ps1

#allow the Functions list
!ExportedFunctions.txt

#allow the DockerFile
!Dockerfile